.main-container {
    background-color: white;
    color: black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    height: 100%;
    margin: 0;
    padding-top: 20px;
    padding: 10px;
}
.main-container {
    margin-top: 20px;
    padding: 0px;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    border: 2px solid black;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.car-image{
    height: 155px;
    width: 100%;
}

.capacity{
    display: flex;
    justify-content: flex-start;
    margin-left: 3px;
}

.innova{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.color-of-price{
    color: green;
    font-weight: bold;
}
.price-per-km{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 7px;
    border: 1px solid #707070;
    
    
}
.left-of-the-card{
    height: 50px;
    width: 50%;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 17px;
}
.right-of-card{
    height: 50px;
    width: 50%;
    background-color: blue;
    color: white;
    padding-top: 17px;
    text-align: center; 
    align-items: center; 
}

#display-message{
    text-align: center;
    border: 2px solid red;
    width: 35%;
    margin-left: 35%;
    font-weight: bold;
    border-radius: 5px;
    color: red;
    height: 50px;
}
.error-button{
    border: 2px solid red;
    margin-left:20px;
    background-color: red;
    padding: 1px;
    color: aliceblue;
}