.admin-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: #edf1f2;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.admin-content {
  padding: 2rem;
  align-items: flex-start;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.875rem;
}

.admin-header-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.admin-add-car-btn {
  background-color: #007fed;
  width: 6.625rem;
  border-radius: 0.3125rem;
  height: 2.5rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-add-car-btn:hover {
  background-color: teal;
  color: white;
}

.admin-cars-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}
