.booking-form-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 100%;
    padding: 6rem;
}

.booking-form {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 25rem; 
    max-width: 100%;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.booking-form:hover {
    box-shadow: 0.4rem 0.4rem 1.5rem rgba(0, 0, 0, 0.3);
}

.booking-form h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333333;
    font-weight: 600;
}

.booking-input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.booking-input:focus {
    border-color: #007fed;
    outline: none;
}

.booking-submit-btn {
    border-radius: 0.5rem;
    border: none;
    color: #ffffff;
    background-color: #007fed;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.booking-submit-btn:hover {
    background-color: #005bb5;
}

.booking-submit-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
