#nav-container {
    height: 11vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#car-logo{
    height: 65px;
    width: 75px;
    border-radius: 60%;
    margin-left: 90px;
    color: rgb(163, 104, 104);
    background-color: aqua;
    
}