.order-Home-page{
    width: 100vw;
    height: 89vh;
    background-image:url("../images/car-rental.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: grid;
    overflow-y: hidden;
    overflow-x: hidden;
}
.order-login-form{
    padding: 30px; 
   background-color: white;
   box-shadow: 3px 3px 10px black;
   display: block;
   margin-bottom: 100px;
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 20px;
   margin-left: 100px;
   margin-top: 110px;
   width: 350px;
   height: 350px;
}
.order-login-admin{
    width: 100%;
    /* margin: 5px; */
    border-radius: 50px;
    margin-left: 0px;
    height:40px;
    margin-top: 10px;
    text-align: left;
    
}
.order-login-page-btn{
    margin-left: 160px;
    margin-top: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #007FED;
    width: 120px;
    height: 40px;

}