@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prompt:wght@200&display=swap');
#filter-the-car-selection{
    background-color:aliceblue;
}
#choose-the-car-type{
    display: flex;
    text-align: start;
    margin: 2px 0px;
    height: 40px;
    background-color: rgb(174, 211, 211);
    align-items: center;
}
.select {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: rgb(65, 65, 161);
    color: white;
    border: 2px solid black;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    margin: 0px 5px;
}

.select:focus {
    background-color: white;
    color: black;
    border-color: blueviolet;
}

/* #button {
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#button {
    padding-left: 75px;
    box-sizing: boder-box;
} */