.addcar-container {
  width: 100%;
  height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #f5f7fa;
  overflow-y: auto;
}

.addcar-heading {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: #b46262;
  padding: 2rem 1rem;
  text-align: center;
  border-bottom: 0.125rem solid #ddd;
}

.addcar-section {
  width: 85vw;
  max-width: 75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #fff;
  border-radius: 0.625rem;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
}

.addcar-section-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addcar-section-right {
  width: 100%;
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
}

.field-group {
  margin-bottom: 1.5rem;
  flex: 1;
}

.field-group label {
  font-size: 1.25rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
  display: block;
}

.field-group input[type="text"],
.field-group input[type="date"],
.field-group input[type="number"],
.field-group textarea {
  width: 95%;
  padding: 0.75rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease;
}

.field-group select {
  width: 90%;
  padding: 0.75rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease;
}

.field-group input[type="text"]:focus,
.field-group input[type="date"]:focus,
.field-group select:focus,
.field-group textarea:focus {
  border-color: #5c9dcf;
  outline: none;
}

textarea {
  min-height: 5.5rem;
  resize: none;
}

.field-row {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.image-preview img {
  max-width: 50%;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.btn-submit button,
.btn-cancel {
  width: 10rem;
  background-color: #5c9dcf;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.3125rem;
  margin-top: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit button:hover,
.btn-cancel:hover {
  background-color: #4793c7;
}

.btn-cancel {
  background-color: #f44336;
}

.btn-cancel:hover {
  background-color: #d33b2c;
}

input[type="file"] {
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  background-color: #fff;
}

@media (max-width: 48rem) {
  .addcar-section {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .field-row {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  .addcar-heading {
    text-align: center;
    padding-left: 0rem;
  }

  .field-group select,
  .field-group input[type="text"],
  .field-group input[type="date"],
  .field-group input[type="date"],
  .field-group textarea {
    width: 100%;
  }
}
