.car-card {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-card-image {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.car-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-card-details {
  padding: 1rem;
}

.car-capacity {
  margin-bottom: 1rem;
}

.car-price {
  display: flex;
  justify-content: space-between;
}

.car-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.car-milage {
  color: #28a41d;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.car-actions {
  display: flex;
  justify-content: space-between;
}

.fare-details-btn,
.book-now-btn {
  width: fit-content;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.fare-details-btn {
  background-color: #007bff;
}

.book-now-btn {
  background-color: #28a745;
}

.fare-details-btn:hover {
  background-color: #0056b3;
}

.book-now-btn:hover {
  background-color: #218838;
}
